.idea
readme.md
.DS_Store
order-service/.DS_Store
infrastructure/docker-compose/volumes/kafka/broker-1
infrastructure/docker-compose/volumes/kafka/broker-2
infrastructure/docker-compose/volumes/kafka/broker-3

infrastructure/docker-compose/volumes/zookeeper/data/version-2
infrastructure/docker-compose/volumes/zookeeper/data/myid

infrastructure/docker-compose/volumes/zookeeper/transactions/version-2

.idea/
*.iml
*.iws
log/
target/